<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/register.css">
    <title>Register</title>
</head>
<body>
    
    <div class="reigster_input">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div class="username_input">
                <label for="username">username: </label>
                <input type="text" name="username" required>
            </div>

            <div class="username_input">
                <label for="email">email: </label>
                <input type="text" name="email" required>
            </div>

            <div class="password_input">
                <label for="password">password: </label>
                <input type="password" name="password" required autocomplete="off">
            </div>    

            <button type="submit">REGISTER</button>
        </form>

        <!-- redirect link to the log In page -->
        <p>Already have an acc.? <a href="/login">Log In here</a></p>
    </div>
    
</body>
</html>