<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/register-logIn.css">
    <title>Register/Log In</title>
</head>
<body>
    <div class="container">
        <h1>Log In/ Register?</h1>
        <div class="register_logIn_box">
            <div class="logIn_box">
                <form action="/register_logIn/logIn" method="GET">
                    <button type="submit">Log In</button>
                </form>
                <p>Already have an account?</p>
            </div>
            <div class="logIn_box">
                <form action="/register_logIn/register" method="GET">
                    <button type="submit">Register</button>
                </form>
                <p>New Here?</p>
            </div>
        </div>

        
    </div>
</body>
</html>